@import url(../App.css);

#Guesses {
    width: auto;
    margin: auto;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
}

#Guesses {
    transition: all 2s;
}

#Guesses > div {
    position: relative;
}


#word_display {
    text-align: center;
    margin-block: 2rem;
}

#word_display > span {
    display: inline-block;
    margin-inline: 0.25rem;
    font: 4rem pen;
    width: 2rem;
    /* height: 1ch; */
    box-sizing: border-box;
}

#letters {
    margin-bottom: 2rem;
}

button {
    all: unset;
    font: 2rem pen;
    margin: 0.5rem;
    padding: 0.2rem;
    height: 2rem;
}

#letters > button {
    width: 2rem;
    border-radius: 50%;
    background: transparent;
    border: 0.12rem solid rgb(var(--pen-color));
    color: rgb(var(--pen-color));
}

#letters > button:disabled::before {
    content: '';
    /* top: 0;
    left: 0; */
    /* height: 2rem; */
    width: 3.2rem;
    border-top: 0.12rem solid rgb(var(--pen-color));
    transform:
        translateY(1rem)
        translateX(-1.3rem)
        rotate(-45deg);
    position: absolute;
    /* color: rgba(var(--pen-color),0.5);
    text-decoration: rgb(var(--pen-color)); */
}

#letters > button:hover:not(:disabled), #letters > button:hover, button.best-guess {
    border: 0.12rem solid rgb(var(--pen-color));
    background: rgba(var(--pen-color));
    color: ivory;
}

object {
    position: relative;
    float: left;
  }

.path {
    stroke-dasharray: 71 !important;
    animation: dash 200ms linear forwards !important;
}

#gameOverBtn, form button {
    font: 2rem pen;
    background: rgb(var(--pen-color));
    color: ivory;
    border-radius: 1.5rem;
    padding: 0.5rem;
    border: 0.12rem solid rgb(var(--pen-color));
}

#gameOverBtn:hover, form button:hover {
    background: darkred;
}

#left {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#winLose {
    position: absolute;
    background: linear-gradient(to bottom, lemonchiffon, hsl(54, 95%, 90%) 15%, hsl(54, 50%, 65%) 40%, hsl(54, 50%, 65%) 50%, hsl(54, 70%, 85%) 85%,  hsl(54, 60%, 80%) 90%, hsl(54, 50%, 65%) 100%);
    padding: 1rem;
    box-shadow: rgba(41, 41, 38, 0.508) 0 0.5rem 20px;
    transform: rotate(-10deg);
    transform-origin: left;
    z-index: 10;
    animation: transition 0.5s ease-out;
    border-radius: 2em 1em 4em / 0.25em 3em;
    animation: transition 0.5s ease-out;
    animation-play-state: initial;
}

#winLose:active {
    animation: transition 0.5s ease-out, transition 0.5s ease-out 0s 1 reverse forwards;
    animation-play-state: paused, running;
}

#winLose > span {
    font: bold 10rem pen;
    /* color: darkgreen; */
}

#winLose > .won {
    color: darkgreen;
}

#winLose > .lost {
    color: darkred;
}

#winLose > span.showWord {
    font: bold 2rem pen;
}

#guess > form > input {
    width: 2.5rem;
    font: 4rem pen;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid navy;
    text-align: center;
    vertical-align: baseline;
    visibility: visible;
}

#guess {
    text-align: center;
    position: relative;
    top: 7rem;
}

#guess > form {
    position: relative;
    left: 1.62rem;
}

#guess > form > input {
    margin-top: -5rem;
    margin-inline: 0rem;
    border-radius: 5px;
    display: inline;
    position: relative;
    background: transparent;
}

#guess > form > button {
    position: relative;
    bottom: 0px;
    width: 1rem;

}

@keyframes dash {
    from {
       stroke-dashoffset: 156;
    }
     to {
       stroke-dashoffset: 0;
     }
   }

  @keyframes transition {
    from {
      border-radius: 0;
      opacity: 0;
      transform: 
        scale(200%)
        translate(0, -100%)
        rotateZ(-90deg)
  
    }
    to {
      opacity: 1;
      transform: 
        scale(100%)
        translate(0, 0)
        rotate(-10deg)
    }
  }

  @media (max-width: 650px) {

  }