#letters {
    margin-bottom: 2rem;
}

button {
    all: unset;
    font: 2rem pen;
    margin: 0.5rem;
    padding: 0.2rem;
    height: 2rem;
}

#letters > button {
    width: 2rem;
    border-radius: 50%;
    border: 0.12rem solid rgb(var(--pen-color));
    color: rgb(var(--pen-color));
    transition: all linear 0.05s;
    transform-origin: center;
    border-top: 0.12rem solid rgb(var(--pen-color));
}

#letters > button::before {
    content: '';
    transition: all linear 0.05s;
    width: 3.2rem;
    border-top: 0.12rem solid rgb(var(--pen-color));
    transform:
        scale(0)
        translateY(1rem)
        translateX(-1.3rem)
        rotate(-45deg);
    position: absolute;
}

#letters > button:disabled::before {
    content: '';
    transform:
        scale(100%)
        translateY(1rem)
        translateX(-1.3rem)
        rotate(-45deg);
}

#letters > button:hover:not(:disabled), 
#letters > button:focus:not(:disabled) {
    box-shadow: 3px 3px 0 rgba(var(--pen-color));
    transform: scale(110%);
}

#letters > button.active:not(:disabled),
#letters > button:active:not(:disabled) {
    box-shadow: -3px -3px 0 5px rgba(var(--pen-color));
    transform: scale(0.85) translate(3px, 3px);
    background: hsla(48, 23%, 45%, 0.3);
}