.modal {
    z-index: 2;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-box {
    min-width: 30%;
    padding: 1rem;
    border-radius: 1rem 0.5rem / 5rem 0.5rem;
    background: lightyellow;
    font: 2rem pen;
    line-height: 1.5;
    color: rgb(var(--pen-color));
    position: fixed;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0 10px 20px;
    display: flex;
    align-self: center;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.modal-box input {
    font-family: pen;
    font-size: 2rem;
    text-align: center;
    border: none;
    background: inherit;
}

.exit {
    position: absolute;
    right: 0.75rem;
    top: 0;
    cursor: pointer;
}

.modal-box > * {
    text-align: center;
}