header { 
  top: 0;
  width: auto;
  margin: auto;
  position: relative;
  /* animation: slide-up 2s ease-in-out forwards calc(var(--guess_gap) * 7); */
  font-size: 12vw;
}

h1 {
  text-align: center;
  font: 12vw Handlee;
  color: rgb(var(--pen-color));
  position: relative;
  /* animation: drop 3s ease-in-out forwards; */
  letter-spacing: 0.2ch;
}

h1 > span > span {
  opacity: 0;
}

h1 > span {
  position: relative;
}

h1 > span > span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: calc(50% - 0.8ch);
  font-family: pen;
} 

h1 > span:nth-child(2) > span, h1 span:nth-child(6) > span{
  animation: show-splash-letter var(--guess_gap) ease forwards calc(var(--guess_gap) * 2);
}

h1 > span:nth-child(5) > span {
  animation: show-splash-letter var(--guess_gap) ease forwards calc(var(--guess_gap) * 3);
}

h1 > span:nth-child(3) > span, h1 span:nth-child(7) > span {
  animation: show-splash-letter var(--guess_gap) ease forwards calc(var(--guess_gap) * 4);
}

h1 > span:nth-child(1) > span {
  animation: show-splash-letter var(--guess_gap) ease forwards calc(var(--guess_gap) * 5);
}

h1 > span:nth-child(4) > span {
  animation: show-splash-letter var(--guess_gap) ease forwards calc(var(--guess_gap) * 6);
}

 @keyframes show-splash-letter {
  to { 
    opacity: 1;  
  }
} 

/* @keyframes slide-up {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
    background: ivory
  }
  100% {
    opacity: 0;
    background: rgb(var(--pen-color));
  }
} */

