header {
  align-self: center;
  opacity: 1;
  transition: opacity 1s ease-out;
}

header h1:hover{
  color: black;
}

header a {
  text-decoration: none;
}

header.fade-out {
  opacity: 0;
}

header { 
  top: 0;
  width: auto;
  margin: 0 auto;
  position: relative;
  font-size: 12vw;
}

h1 {
  text-align: center;
  font: 12vw Handlee;
  color: rgb(var(--pen-color));
  position: relative;
  opacity: 0;
  animation: appear 0.5s ease-in-out forwards;
}

h1 > span {
  position: relative;
}

h1 > span:not(:last-child) {
  margin-right: 0.2ch
}

h1 > span > span {
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0.5ch;
  font-family: pen;
} 

h1 > span:nth-child(2) > span, h1 span:nth-child(6) > span{
  animation: show-splash-letter var(--guess_gap) ease forwards calc(var(--guess_gap) * 2);
}

h1 > span:nth-child(5) > span {
  animation: show-splash-letter var(--guess_gap) ease forwards calc(var(--guess_gap) * 3);
}

h1 > span:nth-child(3) > span, h1 span:nth-child(7) > span {
  animation: show-splash-letter var(--guess_gap) ease forwards calc(var(--guess_gap) * 4);
}

h1 > span:nth-child(1) > span {
  animation: show-splash-letter var(--guess_gap) ease forwards calc(var(--guess_gap) * 5);
}

h1 > span:nth-child(4) > span {
  animation: show-splash-letter var(--guess_gap) ease forwards calc(var(--guess_gap) * 6);
}

 @keyframes show-splash-letter {
  to { 
    opacity: 1;  
  }
} 

@keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

