@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@font-face {
  font-family: pen;
  src: url(./PencilSharp.ttf);
}

:root {
  --guess_gap: 0.5s;
  --pen-color: 23, 0, 85;
}

body {
  background: ivory;
  /* animation: slide-up 4s ease forwards calc(var(--guess_gap) * 6.5); */
}

body, .App{
  height: 100%;
  width: 100%;
}

:root, #root {
  height: 100%;
}

.App {
  display: flex;
}

#Splash {
    opacity: 1;
    transition: opacity 1s ease-out;
}

#Splash h1:hover{
    color: black;
}

#Splash a {
    text-decoration: none;
}

@keyframes fade-out {
    0% {
        opacity: 1
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

#Splash.fade-out {
    opacity: 0;
    /* background: red; */
    /* display: none; */
    /* animation: fade-out 12s ease-out forwards; */
}